<script>
  (function() {
    var fks = document.createElement('script');
    fks.type = 'text/javascript';
    fks.async = true;
    fks.setAttribute("fk-public-key","cEzPWhhZzjjXNoghESgr");
    fks.setAttribute("fk-server","app.listenloopstaging.com");
    fks.src = ('https:' == document.location.protocol ? 'https://':'http://') +
      'listenloopstaging.global.ssl.fastly.net/assets/featurekicker.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(fks, s);
  })();
</script>